version: "3"

services:
  db:
    image: postgres:10-alpine
    environment:
      - POSTGRES_DB=alpha
      - POSTGRES_USER=alpha
      - POSTGRES_PASSWORD=alpha
  app:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./fetch_alpha_api:/fetch_alpha_api
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=alpha
      - DB_USER=alpha
      - DB_PASS=alpha
    depends_on:
      - db
